In [3]:
import requests
import pandas as pd

In [6]:

# Utilisation de pd.set_option pour afficher toutes les colonnes du DataFrame
pd.set_option('display.max_columns', None)

station_names = ["Paris Bercy", "Paris Saint-Lazare", "Paris Gare de Lyon", "Paris Gare du Nord", "Paris Montparnasse", "Paris Est", "Paris Austerlitz"]

records = []

for name in station_names:
    for year in range(2019, 2023):
        url = f"https://ressources.data.sncf.com/api/records/1.0/search/?dataset=objets-trouves-restitution&q=Paris&rows=10000&sort=date&facet=date&facet=gc_obo_gare_origine_r_name&facet=gc_obo_type_c&refine.gc_obo_gare_origine_r_name={name.replace(' ', '+')}&refine.date={year}"
        response = requests.get(url)
        data = response.json()
        records += data['records']

df1 = pd.json_normalize(records)
df1 = df1.loc[:, ['fields.date', 'fields.gc_obo_gare_origine_r_name', 'fields.gc_obo_type_c']]
df1['fields.date'] = pd.to_datetime(df1['fields.date']).dt.strftime('%Y-%m-%d')
# création du CSV 
# df1.to_csv("objets-trouves.csv", index=False)

KeyError: 'records'

In [98]:
df1

,fields.date,fields.gc_obo_gare_origine_r_name,fields.gc_obo_type_c
0,2019-12-29,Paris Bercy,"Porte-monnaie / portefeuille, argent, titres"
1,2019-12-26,Paris Bercy,"Bagagerie: sacs, valises, cartables"
2,2019-12-26,Paris Bercy,"Bagagerie: sacs, valises, cartables"
3,2019-12-26,Paris Bercy,"Bagagerie: sacs, valises, cartables"
4,2019-12-26,Paris Bercy,"Vêtements, chaussures"
...,...,...,...
81627,2022-01-04,Paris Austerlitz,"Porte-monnaie / portefeuille, argent, titres"
81628,2022-01-04,Paris Austerlitz,"Porte-monnaie / portefeuille, argent, titres"
81629,2022-01-04,Paris Austerlitz,"Bagagerie: sacs, valises, cartables"
81630,2022-01-04,Paris Austerlitz,"Bagagerie: sacs, valises, cartables"
81631,2022-01-04,Paris Austerlitz,"Appareils électroniques, informatiques, appare..."

In [ ]:
import sqlite3
connexion= sqlite3.connect("bdd.db")
curseur = connexion.cursor()
curseur.execute('''CREATE TABLE IF NOT EXISTS df1 (
              date TEXT NOT NULL,
              gare TEXT NOT NULL,
              feels_like FLOAT,
              type_objet TEXT
              );''')

connexion.commit()

query = "INSERT INTO df1 (date, gare, type_objet) VALUES (?, ?, ?)"
curseur.executemany(query, df1.values.tolist())

# Validation de la transaction
connexion.commit()

# Fermeture de la connexion
connexion.close()

**DATA FRAME objet perdu 2019**

In [ ]:
df1['fields.date'] = pd.to_datetime(df1['fields.date'])
df1_2019 = df1[df1['fields.date'].dt.year == 2019]
df1_2019

,fields.date,fields.gc_obo_gare_origine_r_name,fields.gc_obo_type_c
0,2019-12-29,Paris Bercy,"Porte-monnaie / portefeuille, argent, titres"
1,2019-12-26,Paris Bercy,"Bagagerie: sacs, valises, cartables"
2,2019-12-26,Paris Bercy,"Bagagerie: sacs, valises, cartables"
3,2019-12-26,Paris Bercy,"Bagagerie: sacs, valises, cartables"
4,2019-12-26,Paris Bercy,"Vêtements, chaussures"
...,...,...,...
80380,2019-01-03,Paris Austerlitz,"Appareils électroniques, informatiques, appare..."
80381,2019-01-03,Paris Austerlitz,"Clés, porte-clés, badge magnétique"
80382,2019-01-03,Paris Austerlitz,"Bagagerie: sacs, valises, cartables"
80383,2019-01-03,Paris Austerlitz,"Appareils électroniques, informatiques, appare..."
80384,2019-01-02,Paris Austerlitz,"Porte-monnaie / portefeuille, argent, titres"

In [ ]:
#df_provisoire_2019['fields.date'] = pd.to_datetime(df_provisoire_['fields.date'])
df1_2019['fields.date']=df1_2019['fields.date'].dt.strftime('%U')

/tmp/ipykernel_330594/2308099575.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_2019['fields.date']=df1_2019['fields.date'].dt.strftime('%U')

In [ ]:
df1_2019

,fields.date,fields.gc_obo_gare_origine_r_name,fields.gc_obo_type_c
0,52,Paris Bercy,"Porte-monnaie / portefeuille, argent, titres"
1,51,Paris Bercy,"Bagagerie: sacs, valises, cartables"
2,51,Paris Bercy,"Bagagerie: sacs, valises, cartables"
3,51,Paris Bercy,"Bagagerie: sacs, valises, cartables"
4,51,Paris Bercy,"Vêtements, chaussures"
...,...,...,...
80380,00,Paris Austerlitz,"Appareils électroniques, informatiques, appare..."
80381,00,Paris Austerlitz,"Clés, porte-clés, badge magnétique"
80382,00,Paris Austerlitz,"Bagagerie: sacs, valises, cartables"
80383,00,Paris Austerlitz,"Appareils électroniques, informatiques, appare..."
80384,00,Paris Austerlitz,"Porte-monnaie / portefeuille, argent, titres"

In [ ]:
#df1_2019.to_csv("objets-trouves_2019.csv", index=False)

In [ ]:
df1_2019['fields.date'].value_counts().sort_index()

00    364
01    456
02    450
03    511
04    449
05    532
06    576
07    483
08    560
09    537
10    436
11    567
12    551
13    519
14    472
15    567
16    535
17    482
18    526
19    526
20    524
21    496
22    584
23    554
24    563
25    579
26    627
27    597
28    677
29    541
30    450
31    540
32    562
33    552
34    612
35    593
36    481
37    645
38    479
39    422
40    576
41    459
42    547
43    504
44    594
45    448
46    509
47    504
48    371
49    188
50    283
51    259
52    142
Name: fields.date, dtype: int64

**DATA FRAME objet perdu  2020**

In [ ]:
df1['fields.date'] = pd.to_datetime(df1['fields.date'])
df1_2020 = df1[df1['fields.date'].dt.year == 2020]
df1_2020['fields.date']=df1_2020['fields.date'].dt.strftime('%U')

/tmp/ipykernel_330594/2798880336.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_2020['fields.date']=df1_2020['fields.date'].dt.strftime('%U')

In [ ]:
df1_2020

,fields.date,fields.gc_obo_gare_origine_r_name,fields.gc_obo_type_c
570,52,Paris Bercy,"Bagagerie: sacs, valises, cartables"
571,52,Paris Bercy,Pièces d'identités et papiers personnels
572,52,Paris Bercy,"Bagagerie: sacs, valises, cartables"
573,52,Paris Bercy,Optique
574,51,Paris Bercy,"Bagagerie: sacs, valises, cartables"
...,...,...,...
80619,01,Paris Austerlitz,"Vélos, trottinettes, accessoires 2 roues"
80620,01,Paris Austerlitz,"Vélos, trottinettes, accessoires 2 roues"
80621,00,Paris Austerlitz,Pièces d'identités et papiers personnels
80622,00,Paris Austerlitz,Pièces d'identités et papiers personnels
80623,00,Paris Austerlitz,"Bagagerie: sacs, valises, cartables"

In [ ]:
#df1_2020.to_csv("objets-trouves_2020.csv", index=False)

**DATA FRAME objet perdu 2021**

In [ ]:
df1['fields.date'] = pd.to_datetime(df1['fields.date'])
df1_2021 = df1[df1['fields.date'].dt.year == 2021]
df1_2021['fields.date']=df1_2021['fields.date'].dt.strftime('%U')

/tmp/ipykernel_330594/764819555.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_2021['fields.date']=df1_2021['fields.date'].dt.strftime('%U')

In [ ]:
#df1_2021.to_csv("objets-trouves_2021.csv", index=False)

**DATA FRAME objet perdu 2022**

In [ ]:
df1['fields.date'] = pd.to_datetime(df1['fields.date'])
df1_2022 = df1[df1['fields.date'].dt.year == 2022]
df1_2022['fields.date']=df1_2022['fields.date'].dt.strftime('%U')

/tmp/ipykernel_330594/3772376561.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_2022['fields.date']=df1_2022['fields.date'].dt.strftime('%U')

In [ ]:
#df1_2022.to_csv("objets-trouves_2022.csv", index=False)

NameError: name 'df1_2022' is not defined

**DATA FRAME objet perdu par jour**

In [ ]:
df1_jour = df1.groupby(pd.Grouper(key='fields.date', freq='D')).count()
df1_jour = df1_jour.reset_index()
df1_jour['objet_jour'] = df1_jour['fields.gc_obo_type_c']
df1_jour[['fields.date', 'objet_jour']].to_csv('objet-perdu-jour.csv')

**DATA FRAME TEMPERATURE**

In [ ]:
df_temperature = pd.read_csv("temperature.csv")
# Prendre le DataFrame jusqu à la ligne 35064
df_temperature = df_temperature[:35064]

# # Sauvegarder le fichier CSV
# df_temperature.to_csv('temperature.csv', index=False)
# df_temperature = pd.read_csv("temperature.csv")

df_temperature = df_temperature[['time', 'temperature_2m (°C)']]
df_temperature

                   time  temperature_2m (°C)
0      2019-01-01T00:00                  7.4
1      2019-01-01T01:00                  7.2
2      2019-01-01T02:00                  7.1
3      2019-01-01T03:00                  6.9
4      2019-01-01T04:00                  6.7
...                 ...                  ...
35059  2022-12-31T19:00                 14.3
35060  2022-12-31T20:00                 14.9
35061  2022-12-31T21:00                 15.2
35062  2022-12-31T22:00                 15.1
35063  2022-12-31T23:00                 14.9

[35064 rows x 2 columns]

In [ ]:
# Convertir la colonne "time" en type de données datetime
df_temperature['time'] = pd.to_datetime(df_temperature['time'])

# Regrouper les données par jour : freq = 'D'
df_temperature_jour = df_temperature.groupby(pd.Grouper(key='time', freq='D')).mean(numeric_only=True)

# # # Afficher les moyennes des températures par jour
df_temperature_jour

            temperature_2m (°C)
time
2019-01-01             7.558333
2019-01-02             5.420833
2019-01-03             2.325000
2019-01-04             1.500000
2019-01-05             2.875000
...                         ...
2022-12-27             5.654167
2022-12-28            10.150000
2022-12-29             9.591667
2022-12-30             9.904167
2022-12-31            15.100000

[1461 rows x 1 columns]

In [ ]:
df_temperature_jour =  df_temperature_jour.reset_index()

In [ ]:
df_temperature_jour

           time  temperature_2m (°C)
0    2019-01-01             7.558333
1    2019-01-02             5.420833
2    2019-01-03             2.325000
3    2019-01-04             1.500000
4    2019-01-05             2.875000
...         ...                  ...
1456 2022-12-27             5.654167
1457 2022-12-28            10.150000
1458 2022-12-29             9.591667
1459 2022-12-30             9.904167
1460 2022-12-31            15.100000

[1461 rows x 2 columns]

In [ ]:
# mettre à jour / index = True
#df_temperature_jour.to_csv('temperature_jour.csv')

**DATA FRAME FREQUENTATION**

In [ ]:
df_frequentation = pd.read_csv('frequentation-gares.csv', sep =';')

In [ ]:
df_frequentation

,Nom de la gare,Code UIC,Code postal,Segmentation DRG,Total Voyageurs 2021,Total Voyageurs + Non voyageurs 2021,Total Voyageurs 2020,Total Voyageurs + Non voyageurs 2020,Total Voyageurs 2019,Total Voyageurs + Non voyageurs 2019,Total Voyageurs 2018,Total Voyageurs + Non voyageurs 2018,Total Voyageurs 2017,Total Voyageurs + Non voyageurs 2017,Total Voyageurs 2016,Total Voyageurs + Non voyageurs 2016,Total Voyageurs 2015,Total Voyageurs + Non voyageurs 2015
0,Paris Bercy Bourgogne_Pays d'Auvergne,87686667,75012,a,3347763,3474572,2498330,2592964,4318464,4482042,3983108,4133983,4003278,4154918,3702383,3842624,3823448,3968276
1,Paris Gare de Lyon,87686006,75012,a,79986275,100871407,55824824,67873723,112644337,140121852,111226947,137769853,113962625,141761340,111664289,138682324,111506043,138936295
2,Paris Montparnasse,87391003,75015,a,41043477,51406616,32439307,40615322,61374035,76622754,59174531,73296349,57752741,72096491,55162747,68903364,55167519,68930457
3,Paris Gare du Nord,87758904,75010,a,126622180,148849186,92236287,107666015,244759909,272898471,244502421,271824491,248007131,275962568,242319816,268774859,238424127,263994241
4,Cormeilles-en-Parisis,87381863,95240,b,3317416,3317416,1878474,1878474,3683266,3683266,3750496,3750496,3830848,3830848,3843422,3843422,3651596,3651596
5,Paris Austerlitz,87547000,75013,a,22281301,22814864,13203603,13602554,21682820,22423095,21821140,22535671,23212805,24037704,23073881,23872118,23300254,24119239
6,Paris Est,87113001,75010,a,27758686,35041906,21580625,27242868,41240098,52060520,39301206,49612908,38455354,48545125,35820125,45218475,34919689,44081786
7,Paris Saint-Lazare,87384008,75008,a,91502192,122002923,114468385,152624513,107340421,143120561,108075780,144101040,109956754,146609005,108771941,145029255,107165727,142887636

In [ ]:
# retirer les colonnes inutiles
df_frequentation = df_frequentation[['Nom de la gare', 'Total Voyageurs + Non voyageurs 2019', 'Total Voyageurs + Non voyageurs 2020', 'Total Voyageurs + Non voyageurs 2021']]

# renommer les colonnes
df_frequentation = df_frequentation.rename(columns={'Nom de la gare': 'gare', 'Total Voyageurs + Non voyageurs 2019': 'frequentation_2019', 'Total Voyageurs + Non voyageurs 2020': 'frequentation_2020', 'Total Voyageurs + Non voyageurs 2021': 'frequentation_2021'})

# retirer les lignes inutiles
df_frequentation = df_frequentation[df_frequentation['gare'] != "Cormeilles-en-Parisis"]

In [ ]:

# renommer le nom d une gare
df_frequentation.loc[df_frequentation['gare'] == "Paris Bercy Bourgogne_Pays d'Auvergne", 'gare'] = "Paris Bercy"

In [ ]:
# Définition des coordonnées de longitude et latitude pour chaque gare

longitude = [2.3768, 2.3731, 2.3216, 2.3551, 2.3642, 2.3585, 2.3270]
latitude = [48.8395, 48.8448, 48.8383, 48.8809, 48.8408, 48.8760, 48.8759]

# Ajout des colonnes de longitude et latitude dans le dataframe
df_frequentation = df_frequentation.assign(longitude=longitude, latitude=latitude)

In [ ]:
#analyse
df_frequentation.index

Index(['Paris Bercy', 'Paris Gare de Lyon', 'Paris Montparnasse',
       'Paris Gare du Nord', 'Paris Austerlitz', 'Paris Est',
       'Paris Saint-Lazare'],
      dtype='object', name='gare')

In [ ]:
df_frequentation.set_index('gare', inplace=True)

In [ ]:
#analyse
df_frequentation.loc['Paris Est'][['latitude','longitude']].to_list()

[2.359021, 48.876985]

In [ ]:
#analyse
for city in df_frequentation.index:
    print(df_frequentation.loc[city][['longitude','latitude']].to_list())

[2.381581, 48.837634]
[2.373056, 48.844867]
[2.321958, 48.840085]
[2.359903, 48.880931]
[2.364896, 48.840199]
[2.359021, 48.876985]
[2.326532, 48.875414]

In [ ]:
df_frequentation

,frequentation_2019,frequentation_2020,frequentation_2021,longitude,latitude
gare,,,,,
Paris Bercy,4482042,2592964,3474572,2.381581,48.837634
Paris Gare de Lyon,140121852,67873723,100871407,2.373056,48.844867
Paris Montparnasse,76622754,40615322,51406616,2.321958,48.840085
Paris Gare du Nord,272898471,107666015,148849186,2.359903,48.880931
Paris Austerlitz,22423095,13602554,22814864,2.364896,48.840199
Paris Est,52060520,27242868,35041906,2.359021,48.876985
Paris Saint-Lazare,143120561,152624513,122002923,2.326532,48.875414

In [ ]:
#analyse
df_frequentation.shape[0]

7

In [ ]:
#df_frequentation.to_csv('frequentation-gares-netoyé.csv')

**MEDIANE JOURNALIERE/SAISON**

In [40]:
# renommer les colonnes
df1 = df1.rename(columns={'fields.date': 'date', 'fields.gc_obo_gare_origine_r_name': 'gare', 'fields.gc_obo_type_c': 'type_objet'})

# retirer les colonnes inutiles
df1 = df1.drop('type_objet', axis=1)

# Conversion de la colonne 'fields.date' en type 'datetime'
df1['date'] = pd.to_datetime(df1['date'])

# Filtrage des données entre les deux dates spécifiées sans modifier le DataFrame d'origine
dico_saison = {
    'hiver 2019'     : ['2019-01-01', '2019-02-28', 'df_hiver_19'],
    'printemps 2019' : ['2019-03-01', '2019-05-31', 'df_printemps_19'],
    'été 2019'       : ['2019-06-01', '2019-08-31', 'df_été_19'],
    'automne 2019'   : ['2019-09-01', '2019-11-30', 'df_automne_19'],
    'hiver 2020'     : ['2019-12-01', '2020-02-29', 'df_hiver_20'],
    'printemps 2020' : ['2020-03-01', '2020-05-31', 'df_printemps_20'],
    'été 2020'       : ['2020-06-01', '2020-08-31', 'df_été_20'],
    'automne 2020'   : ['2020-09-01', '2020-11-30', 'df_automne_20'],
    'hiver 2021'     : ['2020-12-01', '2021-02-28', 'df_hiver_21'],
    'printemps 2021' : ['2021-03-01', '2021-05-31', 'df_printemps_21'],
    'été 2021'       : ['2021-06-01', '2021-08-31', 'df_été_21'],
    'automne 2021'   : ['2021-09-01', '2021-11-30', 'df_automne_21'],
    'hiver 2022'     : ['2021-12-01', '2022-02-28', 'df_hiver_22'],
    'printemps 2022' : ['2022-03-01', '2022-05-31', 'df_printemps_22'],
    'été 2022'       : ['2022-06-01', '2022-08-31', 'df_été_22'],
    'automne 2022'   : ['2022-09-01', '2022-11-30', 'df_automne_22'],
}
    
# for cle, valeur in dico_saison.items():
#     start_date = pd.to_datetime(valeur[0])
#     end_date = pd.to_datetime(valeur[1])
#     valeur[2] = df1[(df1['date'] >= start_date) & (df1['date'] <= end_date)]
#     print(f"la mediane de la siason {cle} est {valeur[2].groupby('date')['gare'].count().median()}")

KeyError: "['type_objet'] not found in axis"

In [7]:
dico_saison = {
    'hiver 2019'     : ['2019-01-01', '2019-02-28', 'df_hiver_19'],
    'printemps 2019' : ['2019-03-01', '2019-05-31', 'df_printemps_19'],
    'été 2019'       : ['2019-06-01', '2019-08-31', 'df_été_19'],
    'automne 2019'   : ['2019-09-01', '2019-11-30', 'df_automne_19'],
    'hiver 2020'     : ['2019-12-01', '2020-02-29', 'df_hiver_20'],
    'printemps 2020' : ['2020-03-01', '2020-05-31', 'df_printemps_20'],
    'été 2020'       : ['2020-06-01', '2020-08-31', 'df_été_20'],
    'automne 2020'   : ['2020-09-01', '2020-11-30', 'df_automne_20'],
    'hiver 2021'     : ['2020-12-01', '2021-02-28', 'df_hiver_21'],
    'printemps 2021' : ['2021-03-01', '2021-05-31', 'df_printemps_21'],
    'été 2021'       : ['2021-06-01', '2021-08-31', 'df_été_21'],
    'automne 2021'   : ['2021-09-01', '2021-11-30', 'df_automne_21'],
    'hiver 2022'     : ['2021-12-01', '2022-02-28', 'df_hiver_22'],
    'printemps 2022' : ['2022-03-01', '2022-05-31', 'df_printemps_22'],
    'été 2022'       : ['2022-06-01', '2022-08-31', 'df_été_22'],
    'automne 2022'   : ['2022-09-01', '2022-11-30', 'df_automne_22'],
    'hiver 2023'     : ['2022-12-01', '2022-12-31']
}
for cle in dico_saison.keys():
    print(cle.split()[1])

2019
2019
2019
2019
2020
2020
2020
2020
2021
2021
2021
2021
2022
2022
2022
2022
2023

In [165]:
did = 'ah dar'
did.split()[0]

'ah'

In [4]:
df1 = pd.read_csv('objets-trouves.csv')
df1 = df1.rename(columns={'fields.date': 'date', 'fields.gc_obo_gare_origine_r_name': 'gare', 'fields.gc_obo_type_c': 'type_objet'})
# retirer les colonnes inutiles
df1 = df1.drop('type_objet', axis=1)
# Conversion de la colonne 'fields.date' en type 'datetime'
df1['date'] = pd.to_datetime(df1['date'])

In [8]:
def f(x):
    for cle, valeur in dico_saison.items():
        start_date = pd.to_datetime(valeur[0])
        end_date = pd.to_datetime(valeur[1])
        if start_date <= x <= end_date:
            return cle
    return None

date = pd.to_datetime('2020-01-02')
saison = f(date)
print(saison)

df1['saison'] = df1['date'].apply(f)

hiver 2020

In [9]:
df1.loc[df1['saison'].isna()]

Empty DataFrame
Columns: [date, gare, saison]
Index: []

In [29]:
df1.groupby(['saison','date']).count().reset_index()['gare']

0         3
1        98
2       113
3       109
4       118
       ...
1423     49
1424     23
1425     86
1426     82
1427     72
Name: gare, Length: 1428, dtype: int64

In [11]:
df1.to_csv('objets-trouves-saison.csv')